body{
	margin : 0;
	border : solid;
}

header{
	background-color : yellow;
	display : flex;
	flex-direction : row;
	align-items : center;
	justify-content : space-between;
	height : 10rem;
	border : solid;
}

#dices{
	justify-content : space-between;
}

#createDice{

}