body{
	font-family: 'MedievalSharp', cursive;
	margin : 0;
	background-color: #595959;
}

header{
	display : flex;
	flex-direction : row;
	align-items : center;
	justify-content : center;
	height : 10rem;
	border : solid;
}

#dices{
	display : flex;
	justify-content : space-around;
	width : 100%;
}

.des{
	height : 8rem;
}

#board{
	display : flex;
	justify-content : center;
	align-items : center;
	height: 30rem;
	width : 100%;
	font-size: 5rem;
}

#buttons{
	font-size : 1.5rem;
}

#logSign {
    width: 18rem;
    height: 25rem;
    position: fixed;
    top: 5rem;
    right: -18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242448;
    z-index: 10;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    transition-duration: 0.5s;
}

#logFormDiv, #signFormDiv {
      display: none;
}
#logFormDiv .message, #signFormDiv .message {
        color: red;
        font-size: 0.9rem;
}

form{
	display: flex;
	flex-direction: column;
}

input {
    margin: 0.3rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
    border-style: none;
}

#decoreco{
	display: flex;
	align-items: center;
	justify-content: space-around;
	overflow: hidden;
	height: 0;
	transition-duration: 1s;
}

.logOut{
	display: none;
	font-size: 1rem;
}