body{
	font-family: 'MedievalSharp', cursive;
	margin : 0;
	background-color: #023059;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

header{
	display : flex;
	flex-direction : row;
	align-items : center;
	justify-content : center;
	min-height : 8rem;
	width: 100%;
	color: white;
	background-color: #0477BF;
	box-shadow: 0px 0px 15px 0px black;
}

p {
	margin: 0.5rem;
}

#buttons{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size : 1.5rem;
	min-width: 10rem;
}

.register{
	background-color: #27B9F2;
	padding: 0.5rem;
	border-radius: 0.5rem;
	width: 6rem;
	text-align: center;
}

#decoreco{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: -22.6rem;
	transition-duration: 500ms;
}

form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #0477BF;
	margin: 2rem;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0px 0px 15px 0px black;
}

input {
    margin: 0.3rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
    border-style: none;
	background-color: #023059;
	color: white;
}

.logOut{
	display: none;
	background-color: #27B9F2;
	padding: 0.5rem;
	border-radius: 0.5rem;
	width: 6rem;
	text-align: center;
}

.group{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 11rem;
}

.group p {
	font-size: 1.5rem;
}

#dices{
	display : flex;
	justify-content : space-around;
	align-items: center;
	flex-wrap: wrap;
	width : 80%;

}

.des{
	height : 6rem;
	transition-duration: 0.2s;
	border-radius: 1rem;
	padding: 0.3rem;
	margin: 0.3rem;
}

.des:hover {
	background-color: #27B9F2;
	transition-duration: 0.1s;
}

.double {
	transition-duration: 0.2s;
	border-radius: 1rem;
	padding: 0.5rem;
	margin: 0.3rem;
}

.double:hover {
	background-color: #27B9F2;
	transition-duration: 0.1s;
}

#board{
	display : flex;
	justify-content : center;
	align-items : center;
	height: 30rem;
	width : 100%;
	font-size: 5rem;
}

#result{
	padding: 2rem;
	border-radius: 2rem;
	background-color: #0477BF;
	box-shadow: 0px 0px 15px 0px black;
}

#BJ {
	position: absolute;
	margin-left: 12rem;
	top: -0.5rem;
	padding: 1rem;
	padding-left: 5rem;
	border-radius: 2rem;
	background-color: #0477BF;
	z-index: 0;
}

#blackjack{
	position: absolute;
	left: 0rem;
	margin-top: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 20rem;
	height: 20rem;
	margin-left: -20rem;
	background-color: #0477BF;
	transition-duration: 0.7s;
	font-size: 1.5rem;
	box-shadow: 0px 0px 15px 0px black;
	z-index: 1;
}

#game {
	background-color: #023059;
	padding: 0.5rem;
	border-radius: 0.5rem;
	margin-bottom: 0.5rem;
}


#score, #bjButtons {
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 90%;
}

#playerShow, #bankShow {
	text-align: center;
}

#draw, #stop {
	background-color: #023059;
	padding: 0.5rem;
	border-radius: 0.5rem;
}